Source: opencog-cogserver
Section: libdevel
Priority: optional
Maintainer: Masayuki Hatta <mhatta@debian.org>
Build-Depends: debhelper (>= 11), cmake, cxxtest, libboost-dev, libboost-date-time-dev, libboost-filesystem-dev, libboost-program-options-dev, libboost-regex-dev, libboost-serialization-dev, libboost-system-dev, libboost-thread-dev, libiberty-dev, binutils-dev, python3-dev, valgrind, cython3, opencog-atomspace, python3-nose, guile-3.0-dev, patchelf
Standards-Version: 4.6.2
Homepage: https://opencog.org/
Vcs-Git: https://github.com/opencog/cogserver.git
Vcs-Browser: https://github.com/opencog/cogserver.git

Package: opencog-cogserver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python3
Description: OpenCog Network Server
 The OpenCog Cogserver is a network scheme/python command-line and job server
 for the OpenCog framework.

