Source: opencog-relex
Section: devel
Priority: optional
Maintainer: Masayuki Hatta <mhatta@debian.org>
Build-Depends: debhelper (>= 11), default-jdk, javahelper, libjwnl-java, libcommons-logging-java, libgetopt-java, wordnet-dev, wordnet-sense-index, liblink-grammar-java, ant
Standards-Version: 4.6.2
Homepage: https://opencog.org
Vcs-Git: https://github.com/opencog/relex.git
Vcs-Browser: https://github.com/opencog/relex.git

Package: opencog-relex
Architecture: any
Depends: ${misc:Depends}, libjwnl-java, liblink-grammar-java, libcommons-logging-java, libuuid-perl
Description: Semantic Relation Extractor
 RelEx is a dependency parser for the English language. It extracts dependency
 relations from Link Grammar, and adds some shallow semantic analysis. The
 primary use of RelEx is as a language input front-end to the OpenCog
 artificial general intelligence system.
