#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1


# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed


%:
	dh $@ --buildsystem-cmake --builddirectory=build

override_dh_clean:
	dh_clean
	rm -rf $(CURDIR)/opencog/haskell/.stack-work
	rm -rf $(CURDIR)/tests/haskell/executionTestLib/.stack-work
	rm -rf $(CURDIR)/tests/haskell/haskellTest/.stack-work
	rm -f $(CURDIR)/tests/haskell/executionTestLib/a.out
	rm -f $(CURDIR)/tests/haskell/haskellTest/libopencoglib-0.1.0.0.so
	rm -f $(CURDIR)/tests/haskell/executionTestLib/stack.yaml.lock
	rm -f $(CURDIR)/tests/haskell/haskellTest/stack.yaml.lock
	rm -f $(CURDIR)/opencog/haskell/stack.yaml.lock

override_dh_auto_configure:
	dh_auto_configure -- -DCONFDIR="/etc" -DCMAKE_LIBRARY_ARCHITECTURE=$(DEB_HOST_MULTIARCH)

override_dh_strip:
	dh_strip
#	patchelf --set-rpath "/usr/lib/opencog:/usr/lib/python3/dist-packages/opencog" debian/opencog-atomspace/usr/lib/opencog/*.so
#	patchelf --set-rpath "/usr/lib/opencog:/usr/lib/python3/dist-packages/opencog" debian/opencog-atomspace/usr/lib/python3/dist-packages/opencog/*.so
	patchelf --remove-rpath $(CURDIR)/debian/opencog-atomspace/usr/lib/opencog/*.so
	patchelf --remove-rpath $(CURDIR)/debian/opencog-atomspace/usr/lib/python3/dist-packages/opencog/*.so
