*~
*.buildinfo
*.changes
*.dsc
*.deb
*.xz
*.upload
agi-bio/agi-bio
agi-bio/opencog-agi-bio-*
asmoses/asmoses
asmoses/opencog-asmoses-*
atomspace/atomspace
atomspace/opencog-atomspace-*
atomspace-cog/atomspace-cog
atomspace-cog/opencog-atomspace-cog-*
atomspace-rocks/atomspace-rocks
atomspace-rocks/opencog-atomspace-rocks-*
attention/attention
attention/opencog-attention-*
cogserver/cogserver
cogserver/opencog-cogserver-*
cogutil/cogutil
cogutil/opencog-cogutil-*
generate/generate
generate/opencog-generate-*
learn/learn
learn/opencog-learn-*
lg-atomese/lg-atomese
lg-atomese/opencog-lg-atomese-*
miner/miner
miner/opencog-miner-*
moses/moses
moses/opencog-moses-*
opencog/opencog
opencog/opencog-*
pln/pln
pln/opencog-pln-*
relex/relex
relex/opencog-relex-*
spacetime/spacetime
spacetime/opencog-spacetime-*
unify/unify
unify/opencog-unify-*
ure/ure
ure/opencog-ure-*
vision/vision
vision/opencog-vision-*

