Source: opencog-moses
Section: devel
Priority: optional
Maintainer: Masayuki Hatta <mhatta@debian.org>
Build-Depends: debhelper (>= 11), libboost-dev, libboost-date-time-dev, libboost-filesystem-dev, libboost-program-options-dev, libboost-regex-dev, libboost-serialization-dev, libboost-system-dev, libboost-thread-dev, libboost-math-dev, cmake, cython3, cxxtest, libopenmpi-dev, python3-dev, valgrind, python3-nose, doxygen, graphviz, libcogutil-dev, opencog-atomspace, patchelf
Standards-Version: 4.6.2
Homepage: https://opencog.org
Vcs-Git: https://github.com/opencog/moses.git
Vcs-Browser: https://github.com/opencog/moses.git

Package: opencog-moses
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python3
Recommends: python-ipykernel
Description: Meta-Optimizing Semantic Evolutionary Search
 MOSES is a machine-learning tool; it is an "evolutionary program learner".
 It is capable of learning short programs that capture patterns in input
 datasets. These programs can be output in either the combo programming
 language, or in python. For a given data input, the programs will roughly
 recreate the dataset on which they were trained.
