#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1


# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed


%:
	dh $@ --buildsystem-cmake --builddirectory=build

override_dh_install:
	dh_install

override_dh_strip:
	dh_strip
#	patchelf --remove-rpath $(CURDIR)/debian/opencog-moses/usr/bin/combo-fmt-converter
#	patchelf --remove-rpath $(CURDIR)/debian/opencog-moses/usr/bin/eval-candidate
#	patchelf --remove-rpath $(CURDIR)/debian/opencog-moses/usr/bin/eval-candidate-likelihood
#	patchelf --remove-rpath $(CURDIR)/debian/opencog-moses/usr/bin/eval-diversity
#	patchelf --remove-rpath $(CURDIR)/debian/opencog-moses/usr/bin/eval-features
#	patchelf --remove-rpath $(CURDIR)/debian/opencog-moses/usr/bin/eval-table
#	patchelf --remove-rpath $(CURDIR)/debian/opencog-moses/usr/bin/feature-selection
#	patchelf --remove-rpath $(CURDIR)/debian/opencog-moses/usr/bin/gen-disj-conj
#	patchelf --remove-rpath $(CURDIR)/debian/opencog-moses/usr/bin/gen-table
#	patchelf --remove-rpath $(CURDIR)/debian/opencog-moses/usr/bin/moses
	patchelf --set-rpath "/usr/lib/opencog:/usr/lib/opencog/modules:/usr/lib/python3/dist-packages/opencog" $(CURDIR)/debian/opencog-moses/usr/lib/libcomboant.so
	patchelf --set-rpath "/usr/lib/opencog:/usr/lib/opencog/modules:/usr/lib/python3/dist-packages/opencog" $(CURDIR)/debian/opencog-moses/usr/lib/libcomboreduct.so
	patchelf --set-rpath "/usr/lib/opencog:/usr/lib/opencog/modules:/usr/lib/python3/dist-packages/opencog" $(CURDIR)/debian/opencog-moses/usr/lib/libfeature_selection.so
	patchelf --set-rpath "/usr/lib/opencog:/usr/lib/opencog/modules:/usr/lib/python3/dist-packages/opencog" $(CURDIR)/debian/opencog-moses/usr/lib/libmoses.so
	patchelf --set-rpath "/usr/lib/opencog:/usr/lib/opencog/modules:/usr/lib/python3/dist-packages/opencog" $(CURDIR)/debian/opencog-moses/usr/lib/libmoses_exec.so
	patchelf --set-rpath "/usr/lib/opencog:/usr/lib/opencog/modules:/usr/lib/python3/dist-packages/opencog" $(CURDIR)/debian/opencog-moses/usr/lib/python3/dist-packages/opencog/pymoses.so
	rm -f $(CURDIR)/debian/opencog-moses/usr/lib/python3/dist-packages/opencog/__init__.py

override_dh_clean:
	dh_clean
	rm -rf $(CURDIR)/tests/cython/moses/*.pyc

override_dh_auto_configure:
	dh_auto_configure -- -DCONFDIR="/etc" -DMAKE_BUILD_TYPE=Release
