Source: opencog-miner
Section: libdevel
Priority: optional
Maintainer: Masayuki Hatta <mhatta@debian.org>
Build-Depends: debhelper (>= 11), cmake, cxxtest, libboost-dev, libboost-date-time-dev, libboost-filesystem-dev, libboost-program-options-dev, libboost-regex-dev, libboost-serialization-dev, libboost-system-dev, libboost-thread-dev, libiberty-dev, binutils-dev, python3-dev, valgrind, cython3, opencog-atomspace, opencog-ure, python3-nose, guile-3.0-dev, patchelf
Standards-Version: 4.6.2
Homepage: https://opencog.org/
Vcs-Git: https://github.com/opencog/miner.git
Vcs-Browser: https://github.com/opencog/miner.git

Package: opencog-miner
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, opencog-ure
Description: OpenCog Pattern Miner
 The OpenCog miner (or pattern miner) is a frequent and surprise subhypergraph
 pattern miner for the AtomSpace. It is built on top of the URE to take
 advantage of the URE refined control capabilities.
