Source: opencog-atomspace-cog
Section: libdevel
Priority: optional
Maintainer: Masayuki Hatta <mhatta@debian.org>
Build-Depends: debhelper (>= 11), cmake, cxxtest, libboost-dev, libboost-date-time-dev, libboost-filesystem-dev, libboost-program-options-dev, libboost-regex-dev, libboost-serialization-dev, libboost-system-dev, libboost-thread-dev, libiberty-dev, binutils-dev, valgrind, opencog-atomspace, opencog-cogserver, guile-3.0-dev, patchelf
Standards-Version: 4.6.2
Homepage: https://opencog.org/
Vcs-Git: https://github.com/opencog/atomspace-cog.git
Vcs-Browser: https://github.com/opencog/atomspace-cog.git

Package: opencog-atomspace-cog
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, opencog-atomspace, opencog-cogserver
Description: OpenCog Atomspace CogStrage Client
 This allows an AtomSpace to communicate with other AtomSpaces by having them
 all connect to a common CogServer. The CogServer itself also provides an AtomS pace,
 which all clients interact with, in common.
