#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1


# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed


%:
	dh $@ --buildsystem=cmake --builddirectory=build

override_dh_strip:
	dh_strip
#	patchelf --set-rpath "/usr/lib/opencog" debian/libcogutil-dev/usr/lib/opencog/libcogutil.so
	patchelf --remove-rpath $(CURDIR)/debian/libcogutil-dev/usr/lib/opencog/libcogutil.so

override_dh_auto_configure:
	dh_auto_configure -- -DCONFDIR="/etc" -DCMAKE_LIBRARY_PATH=$(DEB_HOST_MULTIARCH)
