Source: opencog-unify
Section: libdevel
Priority: optional
Maintainer: Masayuki Hatta <mhatta@debian.org>
Build-Depends: debhelper (>= 11), cmake, opencog-atomspace
Standards-Version: 4.6.2
Homepage: https://opencog.org/
Vcs-Git: https://github.com/opencog/unify.git
Vcs-Browser: https://github.com/opencog/unify.git

Package: opencog-unify
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, opencog-atomspace
Description: OpenCog Probabilistic Logic Network
 Unify, the AtomSpace unifier, is an expression unifier for the AtomSpace.
 Given two expressions containing variables,  it finds all terms that provide
 groundings for those variables.
 .
 It is used as a foundation for the term rewriting engine
 (the Unified Rule Engine or URE for short) for OpenCog.
