Source: opencog-attention
Section: libdevel
Priority: optional
Maintainer: Masayuki Hatta <mhatta@debian.org>
Build-Depends: debhelper (>= 11), cmake, cxxtest, libboost-dev, libboost-date-time-dev, libboost-filesystem-dev, libboost-program-options-dev, libboost-regex-dev, libboost-serialization-dev, libboost-system-dev, libboost-thread-dev, libiberty-dev, binutils-dev, python3-dev, valgrind, cython3, opencog-atomspace, opencog-cogserver, python3-nose, guile-3.0-dev, patchelf
Standards-Version: 4.6.2
Homepage: https://opencog.org/
Vcs-Git: https://github.com/opencog/attention.git
Vcs-Browser: https://github.com/opencog/attention.git

Package: opencog-attention
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, opencog-ure, python3
Description: OpenCog Attention Allocation
 Attention Allocation is an OpenCog subsystem meant to control the
 application of processing and memory resources to specific tasks. Currently
 implemented: Economic Attention Allocation (ECAN).
